


/* sm media */
@media screen  and (min-width:640px){
    .sm-100 {
        width: 100%;
     }
  
     .sm-50 {
        width: 50%;
     }
  
     .sm-40 {
        width: 40%;
     }
  
     .sm-33 {
        width: 33.33333%;
     }
  
     .sm-20 {
        width: 20%;
     }
  
     .sm-16 {
        width: 16.66666%;
     }
     
    


}
/* md */
@media screen  and (min-width:768px){
    .md-100 {
        width: 100%;
     }
  
     .md-50 {
        width: 50%;
     }
  
     .md-40 {
        width: 40%;
     }
  
     .md-33 {
        width: 33.33333%;
     }
  
     .md-20 {
        width: 20%;
     }
  
     .md-16 {
        width: 16.66666%;
     }
     .cheefinner{
        width: 100%;
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        gap: 40px; }
        .gallery .galleryimgs{
         columns: 2;  
     }
     .addres{
      width: calc(50% -  10px); 
     }

     .inputdata {
      display: flex;
      gap: 20px;
  }
  .contbutton{
   
   width: 20%;
}
.mailtext .inputlink button{
   width: 20%;
}
.mailtext .inputlink  input{
   
   width: 70%;
}
.flexfooter{
   display: flex; 
   padding: 20px;
   gap: 50px;
   width: 100%;
   flex-wrap: wrap;
   }
   .socialmedia .socialicons a{
      padding: 15px;
      font-size: 25px;
      color: #f9faf9;
  }
  .socialmedia hr{
   width: 200px;
} 
.mailtext .inputlink  input{
   padding: 10px ;
   width: 60%;
}
.mailtext .inputlink button{
   padding: 10px;
   width: 30%;
   background-color: #de3737;
   border: #CE1212;
   color: #f9faf9;
}
.socialmedia hr{
   width: 250px;
} 
.thirdcolumn{
   order: 1;
   width: 45%;

}
.secondcoulmn{
   order: 2;
   width: 100%;
}
.firstcoulmn{
   width: 45%;
}
.listflex{
   gap: 350px;
}


}
/* lg */
@media screen  and (min-width:1024px){
    .lg-100 {
        width: 100%;
     }
  
     .lg-50 {
        width: 50%;
     }
  
     .lg-40 {
        width: 40%;
     }
  
     .lg-33 {
        width: 33.33333%;
     }
  
     .lg-20 {
        width: 20%;
     }
  
     .lg-16 {
        width: 16.66666%;
     }
     .headerinner{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
      
    }
    
    .header-img {
        order: 2;
    }
    .header-text{
        text-align: left;
        order: 1;
    }
    .header-text h2{
        text-align: left;
         font-family: "Amatic SC", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 60px;
        color: #37373F;
      }

      .cheefinner{
        width: 100%;
        display: flex; 
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 20px;}
        .gallery .galleryimgs{
         columns: 3;  
     }

     .inputdata {
      display: flex;
      gap: 20px;
  }

  .contbutton{
   
   width: 20%;
}
.flexfooter{
   flex-wrap: nowrap;
   }
   .mailtext .inputlink  input{
      padding: 10px ;
      width: 60%;
   }
   .mailtext .inputlink button{
      padding: 10px;
      width: 30%;
      background-color: #de3737;
      border: #CE1212;
      color: #f9faf9;
   }
   .socialmedia hr{
      width: 300px;
  } 
  .thirdcolumn{
   order: 2;
  }
  .listflex{
   gap: 150px;
}
.nav-text .nav-links{
   display: flex;
  }
}
/* xl */
@media screen  and (min-width:1280px){
    .xl-100 {
        width: 100%;
     }
  
     .xl-50 {
        width: 50%;
     }
  
     .xl-40 {
        width: 40%;
     }
  
     .xl-33 {
        width: 33.33333%;
     }
  
     .xl-20 {
        width: 20%;
     }
  
     .xl-16 {
        width: 16.66666%;
     }


}
/* 2xl */
@media screen  and (min-width:1536px){
    .xxl-100 {
        width: 100%;
     }
  
     .xxl-50 {
        width: 50%;
     }
  
     .xxl-40 {
        width: 40%;
     }
  
     .xxl-33 {
        width: 33.33333%;
     }
  
     .xxl-20 {
        width: 20%;
     }
  
     .xxl-16 {
        width: 16.66666%;
     }

}
    
